div{
    margin:0;
    padding: 0;
    border:10%;
    border-color: rgb(218, 177, 255);
    box-sizing: border-box;
    display: inline-block;

}
.box{ 
    margin-left:4vw;
    margin-top: 4vw;
    margin-bottom:4vw;
    /* align-items: center; */
    background-color: aliceblue;
    width: 20rem;
    height: 20rem;
    position: relative;
    cursor: pointer;
padding:33px;
transition:all 0.5s;
border-radius: 10px;
box-shadow:0 10px 10px ;
}
/* .card{
padding: 20px;

    width: 100%;
    height: 100%;
    position: absolute;

} */
.box:hover{
    transform: perspective(20px) rotatex(2deg) translateY(-50px);
}